

/* Import fonts */
@import url(http://fonts.googleapis.com/css?family=Ruda:400,700,900);

/* BASIC THEME CONFIGURATION */
body {
    color: #797979;
	background: #eaeaea;
    font-family: 'Ruda', sans-serif;
    padding: 0px !important;
    margin: 0px !important;
    font-size:13px;
	overflow-x: hidden;
}
.p0{
	padding:0px;
}
.p0 img{
	padding-left: 9px;
}
.ptop{
	padding-top:10px;
}
.sm{
	width:5%;
}
.logo{
	width:100%;
	text-align: center;
    padding: 20px 0px;
}
.nav>li>a{
	color:#808080;
	}
i.fa.fa{
	padding: 8px;
}

ul li {
    list-style: none;
}

a, a:hover, a:focus {
    text-decoration: none;
    outline: none;
}
::selection {

    background: #4ECDC4;
    color: #fff;
}
::-moz-selection {
    background: #4ECDC4;
    color: #fff;
}

#container {
    width: 100%;
    height: 100%;
}

/* Bootstrap Modifications */
.modal-header {
	background: #4ECDC4;
}

.modal-title {
	color: white;
}

.btn-round {
	border-radius: 20px;
	-webkit-border-radius: 20px;
}

.accordion-heading .accordion-toggle {
	display: block;
	cursor: pointer;
	border-top: 1px solid #F5F5F5;
	padding: 5px 0px;
	line-height: 28.75px;
	text-transform: uppercase;
	color: #1a1a1a;
	background-color: #ffffff;
	outline: none !important;
	text-decoration: none;
}
.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  background:#e9f0f8;;
  border-radius:5px;
  border: none;
}
.topnav button {
    border-radius: 5px;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}
form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}
select.selectpicker{
	    padding: 8px;
    float: right;
}
.well{
	background:#fff;
	margin-bottom: 5px;
	}
	.well2{
	background:#fff;
    height:500px;
	width: 344px;
	}
.wellblue{
	background:#337ab7;
	color:#fff;
	padding:10px;
	font-size: 18px;
	border-bottom: #fff 1px solid;
	width:100%;
	text-align:center;
	}
		
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 550px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      background-color: #fff;
    }
	.food ul {
  list-style-type: none;
  margin: 0;
 font-size: 18px;
 padding: 10px;
 border-radius: 5px;
  overflow: hidden;
  background-color: #e9f0f8;;
}

.food li {
  float: left;
}

.food li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.food li a:hover:not(.active) {
  background-color:#4c79f6;
  color:#fff;
}

.food .active {
 background-color: #4c79f6;
 border-radius: 5px;
 color:#fff;
}


.food2 ul {
  list-style-type: none;
  margin: 0;
 font-size: 18px;
 padding: 10px;
 border-radius: 5px;
  overflow: hidden;
  background-color: #e9f0f8;;
}

.food2 li {
  float: left;
}

.food2 li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.food2 li a:hover:not(.active) {
  background-color:#4c79f6;
  color:#fff;
}

.food2 .active {
 background-color: #4c79f6;
 border-radius: 5px;
 color:#fff;
}


.food2 li {
  float: left;
  padding-left: 70px;
}

-----------------------------------------
.foodtop ul {
  list-style-type: none;
  margin: 0;
      font-size: 18px;
 padding: 18px;
 border-radius: 5px;
  overflow: hidden;
  background-color: #e9f0f8;;
}

.foodtop li {
  float: left;
}

.foodtop li a {
  display: block;
  color: grey;
  text-align: center;
    padding: 14px 35px;
    margin-left: -30px;
  text-decoration: none;
}
.foodtop {
    margin-top: -30px;
}
.table-slip{
	font-weight:800;
	}
/*---------------------------------------------*/	
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}	

.twell{
    padding-bottom: 100px;
}
.pull-right{
	float:right;
}
.blue{
    background-color: blue;
    border-radius: 5px;
    box-shadow: 0 0 black;
    text-align: center;
	    margin-bottom: 10px;
    padding: 10px;
    color: #fff;
}
.blue2{
    background-color:#337ab7;
    box-shadow: 0 0 black;
	margin-bottom: 10px;
    padding: 10px;
    color: #fff;
}
.menu{
	background: #eaeaea;
}
.menu img{
	padding:10px;
}
.cata{
	    font-size: 18px;
    font-weight: 800;
    text-align: center;}
a {
    color: #ffffff;
}
.top-box{
	    background: #337ab7;
    padding: 5px 5px;
    text-align: center;
    color: #fff;
}
.signin{
	width:100%;
	background: #fff;
    font-size: 36px;
    padding: 5px;
    text-align: center;
}
.green {
    background-color: #1ab394;
    border-radius: 5px;
    box-shadow: 0 0 black;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
    width: 60px;
    color: #fff;
}
.brown{
	    background: #4c79f6;
    color: #fff;
    margin-top: 10px;
    text-align: center;
    font-size: 25px;
}
ul.nav.nav-pills2.nav-stacked {
    background: #337ab7;
    color: #fff;
}
.nav-pills2 li a{
	color:#fff;
	border-bottom: #c3bebe 1px solid;
	text-align:center;
}
.nav-pills2 .active{
	background-color: #4c79f6;
    color: #fff;
}
.nav-pills2>li>a:hover {
	    background-color: #4c79f6;
}

.yellow{
    background: #f7d429;
    color: #fff;
	border-radius: 5px;
    text-align: center;
    font-size: 16px;
    padding: 20px;
}
.blue3{
    background: #337ab7;
    color: #fff;
	border-radius: 5px;
    text-align: center;
    font-size: 15px;
    padding: 20px;
}
.pink{
	background: #b44df5;
    color: #fff;
	border-radius: 5px;
    text-align: center;
    font-size: 15px;
    padding: 20px;
}
.light-blue{
	background: #63d5ef;
	border-radius: 5px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    padding: 20px;
}
.green2{
	background: #3edaba;
	border-radius: 5px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    padding: 20px;
}
.darkblue{
	background: #346db3;
	border-radius: 5px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    padding: 20px;
}
.orange{
	background: #f1b42c;
	border-radius: 5px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    padding: 20px;
}
.red{
	background: #da4c3e;
	border-radius: 5px;
    color: #fff;
    text-align: center;
    font-size: 15px;
    padding: 20px;
}

        
    /* On small screens, set height to 'auto' for the grid */
    @media screen and (max-width: 767px) {
      .row.content {height: auto;} 
    }
	
	@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
		.col-sm-4 {
    width: 100%;
}
.food li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 10px;
    text-decoration: none;
}
.food ul{
	    font-size: 12px;
   
   }
   
   .foodtop li a{
	   padding: 14px 15px;
    margin: 0 auto;
   }
.owner img{
	width:100%;	
	
	}
	.owner2{
	font-size: 15px;
}
	}
.owner2 i{
	font-size: 20px;
}
	