<div class="panel-body">
    <div class="form">
        <%= form_for color,remote: :true,html: { class: 'form-validate form-horizontal' } do |f| %>
            <div class="form-group">
                <label for="cname" class="control-label col-lg-2">Color Code</label>
                <div class="col-lg-2">
                    <%= f.color_field :color_code, class: "form-control required" %>
                </div>
            </div>

            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-10">
                    <%= f.submit "Save", class: 'btn btn-primary' %>
                    <button class="btn btn-default btn-cancel-new-form" type="button">Cancel</button>
                </div>
            </div>
        <% end %>
    </div>
</div>