<%= render 'layouts/user_header' %>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p class='text-center' style="color:black;font-weight: bolder">Privacy Policy</p>

			<p>At Shaadiwaale, accessible from http://shaadiwaale.in/ , one of our main priorities is the privacy of our visitors/users. This Privacy Policy contains types of information that is collected and recorded by Shaadiwaale and how we use it. If you have additional questions or require more information about our Privacy Policy, do not hesitate to contact us.
			This Privacy Policy applies only to our online activities and is valid for visitors to our website with regards to the information that they shared and/or collect at Shaadiwaale. This policy is not applicable to any information collected offline or via channels other than this website.</p>
		</div>
		<div class="col-md-12">
			Consent
			<p>By using our website, you hereby give consent to our Privacy Policy and agree to its terms.</p>

			Information we collect
			<p>The personal information that you are asked to provide, and the reasons why you are asked to provide it, will be made clear to you at the point we ask you to provide your personal information.</p>

			<p>If you contact us directly, we may receive additional information about you such as your name, email address, phone number, and the contents of the message and/or attachments you may send us, and any other information you may choose to provide.</p>

			<p>When you register for an Account, we may ask for your contact information, including items such as name, company name, address, email address, password and mobile number.</p>
		</div>
		
		<div class="col-md-12">
			How we use your information
			<p>We use the information we collect in various ways, including to:
			    <ol>
				    <li> -> Provide, operate, and maintain our webste</li>
				    <li> -> Improve, personalize, and expand our webste</li>
				    <li> -> Understand and analyze how you use our webste</li>
				    <li> -> Develop new products, services, features, and functionality</li>
				    <li> -> Communicate with you, either directly or through one of our partners, including for customer service, to provide you with updates other information relating to the webste, and for marketing and promotional purposes Send you emails</li>
				    <li> -> Find and prevent fraud</li>
				</ol>
			</p>
		</div>

		<div class="col-md-12">
			Security
			<p>Personal Information provided by you will be kept confidential and we do not disclose the information except that in case you have specifically made an enquiry. Further, the vendors who are listed with us, may call you, based on the query or enquiry that you make with us on our platform or by any other means.</p>

			<p>We will share Personal Information only under one or more of the following circumstances: - If we have your consent or deemed consent to do so - If we are compelled by law (including court orders) to do so.</p>

			<p>We give you the ability to edit your account information and preferences at any time, including whether you want us to contact you regarding any services. To protect your privacy and security, we will also take reasonable steps to verify your identity before granting access or making corrections.</p>

			<p>We treat data as an asset that must be protected against loss and unauthorized access. We employ many different security techniques to protect such data from unauthorized access by members inside and outside the company. However, "perfect security" does not exist on the Internet, or anywhere else in the world! You therefore agree that any security breaches beyond the control of our standard security procedures are at your sole risk and discretion.</p>
		</div>
		<div class="col-md-12">
			Log Files
			<p>Shaadiwaale follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information. Our Privacy Policy was created with the help of the Privacy Policy Generator and the Privacy Policy Template.</p>
		</div>
		<div class="col-md-12">
			Cookies and Web Beacons
			<p>Like any other website, Shaadiwaale uses 'cookies'. These cookies are used to store information including visitors' preferences, and the pages on the website that the visitor accessed or visited. The information is used to optimize the users' experience by customizing our web page content based on visitors' browser type and/or other information.</p>

			<p>Note that Shaadiwaale has no access to or control over these cookies that are used by third-party advertisers.</p>
		</div>
		<div class="col-md-12">
			Control Of Your Password
			<p>You are solely responsible for all the actions taken with your login information and password. Therefore we recommend that you should not disclose your password or login information to any third parties. If you lose control of your password, you may lose substantial control over your personally identifiable information and may be subject to legally binding actions taken on your behalf. Therefore, if your password has been compromised for any reason, you should immediately change your password.</p>
		</div>
		<div class="col-md-12">
			Links to other websites:
			<p>Shaadiwaale has links with other online entities. We are not responsible for the content or privacy practices of these third party websites. Users should click on these external links at their own risk. We encourage you to review their Privacy Policy and Terms of Use, if required.<p>
		</div>

		<div class="col-md-12">
			Contact::
			<p>For further enquiries or information, feel free to mail us at shwaale@gmail.com</p>
		</div>
	</div>
</div>
<%= render 'layouts/user_footer' %>
