<%= render 'layouts/user_header' %>
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p class='text-center' style="color:black;font-weight: bolder">Terms and Conditions</p>

			<p>The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and all Agreements: "Client", "You" and "Your" refers to you, the person log on this website and compliant to the Company’s terms and conditions. "The Company", "Ourselves", "We", "Our" and "Us", refers to our Company. "Party", "Parties", or "Us", refers to both the Client and ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services, in accordance with and subject to, prevailing law of Netherlands. Any use of the above terminology or other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and therefore as referring to same.</br>
			These terms and conditions outline the rules and regulations for the use of SHAADIWAALE's Website, located at http://shaadiwaale.in/</p>
		</div>
		<div class="col-md-12">
			1) ACCEPTANCE OF TERMS/CONDITIONS
			<p>Please read the following terms and conditions very carefully as your use of service is subject to your acceptance of and compliance with the following terms and conditions. By accessing this website we assume that you accept these terms and conditions. Do not continue to use Shaadiwaale if you do not agree to take all of the terms and conditions stated on this page. Shaadiwaale may modify this agreement at any point of time without notifying the users, vendors or any other person using this website, so it is advised to review this agreement regularly to keep yourself updated with our terms.</p>
		</div>


		<div class="col-md-12">
			2) USE OF COOKIES
			<p>We employ the use of cookies. By accessing Shaadiwaale, you agreed to use cookies in agreement with the SHAADIWAALE's Privacy Policy.</br>
			Most interactive websites use cookies to let us retrieve the user’s details for each visit. Cookies are used by our website to enable the functionality of certain areas to make it easier for people visiting our website. Some of our affiliate/advertising partners may also use cookies.</p>
		</div>
		
		<div class="col-md-12">
		    3) USE OF WEBSITE
			<p>Any unauthorized use of and access to the Website is strictly prohibited. By accessing or using this Website, you are bound to accept that - all registered information submitted by you is truthful and accurate by all means, you agree to maintain the accuracy of the information provided by you throughout, you are above 18 years of age and, the use of the Website by you do not violate any applicable laws or regulations of the place from which you are currently using this website .</br>
			You must not- Republish material from Shaadiwaale, Sell, rent or sub-license material from Shaadiwaale, Reproduce, duplicates or copy material from Shaadiwaale, Redistribute content from Shaadiwaale.</p>
		</div>

		<div class="col-md-12">
		    4) SHAADIWAALE PLATFORM
			<p>Shaadiwaale is an online platform to connect you to a wedding vendor and/or seller in respect of the services and/or products offered by them on our platform. You acknowledge and agree that –</p>
			<ol>
				<li>• Shaadiwaale does not claim any ownership rights in the text, files, images, photos, video, sounds, musical works, works of authorship, or any other materials that any vendor, seller or anyone else upload to, submit to, or embed on the Shaadiwaale platform.</li>
				<li>• Shaadiwaale cannot control in any manner any transaction between the vendors, sellers and users;</li>
				<li>• The information and prices provided are displayed as provided by the vendors and sellers. We are not responsible for variation in products, services and prices listed on the website.</li>
				<li>• The final price may vary from that mentioned in any message or email from shaadiwaale.</li>
				<li>• The cancellation policy and the payment terms as listed on the website is provided by the vendor and not us.</li>
				<li>• If any dispute arises between you and the Vendor, both the disputing parties will attempt to resolve the said dispute amicably. However, if the parties fail to resolve the said dispute, the parties will then refer the matter to Shaadiwaale for an amicable solution. You agree that Shaadiwaale will make a decision at its own discretion and the said decision will be final and agreed by both parties.</li>
				<li>• Shaadiwaale doesn’t hold any responsibility of the quality, prices, warranty or any other characteristics/specifications of the service or products mentioned on the website. Shaadiwaale does not implicitly or explicitly support or endorse the sale or purchase of any products or services on the Website.</li>
				<li>• Shaadiwaale is not responsible for providing any alternative arrangement of services or products or any other such thing, if any vendor or seller fails to deliver his services or products as committed on the day of event or delivery.</li>
				<li>• Shaadiwaale doesn’t hold any inventory of products or services. All the products and services displayed on the platform are provided by the vendors or sellers. The vendors and sellers are solely responsible for delivering the service or product on the said date. Any failure for the same, Shaadiwaale will not be responsible in any manner.</li>
				<li>• Shopping related products are uploaded, packaged and shipped by vendors and not Shaadiwaale. So, we are not responsible for delivering it to the user/customer.</li>
				<li>• Any product or service like venues, DJ, music band etc. may differ from that displayed in the portfolio of vendor. The photos, videos are uploaded by vendors and sellers and not us.</li>
				<li>• Shaadiwaale is not responsible in any manner for any cash or e-transaction between the vendor and user, even if done through our website.</li>
			</ol>
		</div>


		<div class="col-md-12">
		    5) CUSTOMERS/USERS
			<p>Customers/Users accept and acknowledge the fact  that they are only visiting SHAADIWAALE platform to obtain information about a Vendor and booking for the same is done individually, separate from SHAADIWALLE and hence, they shall not hold SHAADIWAALE liable in any manner for any issues that may arise in the future, related to such Vendor or such booking. The Customer accepts and agrees that all transactions occur between the Users and SHAADIWAALE is not involved in the same in any manner.</p>
		</div>


		<div class="col-md-12">
		    6) VENDORS/SELLERS
		    <p>Each Vendor accepts that they are merely listed on the SHAADIWAALE platform, through which they get reach to their target customer. Each Vendor creates their profile on the SHAADIWAALE platform and ensures to provide correct information regarding such profiles. Any misrepresentation of their identity or work shall be their liability alone and not the liability of SHAADIWAALE.</p>
			<p>Vendors accept and acknowledge that they are entering into transactions and providing services to the Customer independently and are SHAADIWAALE is in no way involved, apart from being a listing platform. SHAADIWAALE, however expects Vendors to maintain quality of service and make no misrepresentations whatsoever.
			Vendors shall not use any third party photographs or content and represent them as being their own. Any such misrepresentation shall be the liability of the Vendor alone.</p>
			<p>As a wedding aggregator, SHAADIWAALE has commercial dealings with certain vendors on its platform. This commercial arrangement includes but is not restricted to, providing additional visibility in return for a certain fee.
			This fee doesn’t in any way guarantee any business confirmations/ bookings. SHAADIWAALE acts as a facilitator, helping vendors leverage its vast network and enabling them to reach out to more customers</p>
		</div>


		<div class="col-md-12">
			7) ACCOUNT
			<p>In order to access some features of this Site, you may be required to register and we may assign to you, or you may be required to select, a password and user name or account identification. If you register, you agree to provide us with accurate and complete registration information, and to inform us immediately of any updates or other changes to such information. You are solely responsible for protecting the security and confidentiality of the password and identification assigned to you. You shall immediately notify us of any unauthorized use of your password or identification or any other breach or threatened breach of this Site's security. Each time you use a password or identification, you will be deemed to be authorized to access and use the Site in a manner consistent with these Terms, and we have no obligation to investigate the authorization or source of any such access or use of this Site. YOU WILL BE SOLELY RESPONSIBLE FOR ALL ACCESS TO AND USE OF THIS SITE BY ANYONE USING THE PASSWORD AND IDENTIFICATION ORIGINALLY SELECTED BY, OR ASSIGNED TO, YOU WHETHER OR NOT SUCH ACCESS TO AND USE OF THIS SITE IS ACTUALLY AUTHORIZED BY YOU, INCLUDING WITHOUT LIMITATION, ALL COMMUNICATIONS AND TRANSMISSIONS AND ALL OBLIGATIONS (INCLUDING WITHOUT LIMITATION FINANCIAL OBLIGATIONS) INCURRED THROUGH SUCH ACCESS OR USE.</p>
		</div>
		<div class="col-md-12">
			8) INDEMNIFICATION
			<p>To the fullest extent permitted by applicable law, you agree to defend, indemnify and hold harmless Us and our subsidiaries and affiliates, and our respective officers, directors, agents, partners, members, employees, independent contractors, service providers and consultants ("Our Related Parties"), from and against any claims, damages, costs, liabilities and expenses (collectively, "Claims") arising out of or related to (a) your access to and use or misuse of this Site; (b) any User Content you post, upload, use, distribute, store or otherwise transmit on or through this Site; (c) any Feedback that you provide; (d) your violation of these Terms; and (e) your violation of any rights of another. You agree to promptly notify Us of any third party Claims, cooperate with Us in defending such Claims and pay all fees, costs and expenses associated with defending such Claims (including but not limited to attorneys' fees). You further agree that the We shall have the right to control of the defense or settlement of any third party Claims.</p>
		</div>
		<div class="col-md-12">
			9) IFRAMES
			<p>Without prior approval and written permission, you may not create frames around our Webpages that alter in any way the visual presentation or appearance of our Website.</p>
		</div>
		<div class="col-md-12">
			10) CONTENT LIABILITY
			<p>We shall not be hold responsible for any content that appears on the platform. You agree to protect and defend us against all claims that is rising on our Website. No link(s) should appear on any Website that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.</p>
		</div>
		<div class="col-md-12">
			11) RESERVATION OF RIGHTS
			<p>We reserve the right to request that you remove all links or any particular link to our Website. You approve to immediately remove all links to our Website upon request. We also reserve the right to amen these terms and conditions and it's linking policy at any time. By continuously linking to our Website, you agree to be bound to and follow these linking terms and conditions.<p>
		</div>


		<div class="col-md-12">
			12)	REMOVAL OF LINKS FROM OUR WEBSITE
			<p>If you find any link on our Website that is offensive for any reason, you are free to contact and inform us any moment. We will consider requests to remove links but we are not obligated to or so or to respond to you directly.</br>
			We do not ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we promise to ensure that the website remains available or that the material on the website is kept up to date.<p>
		</div>

		<div class="col-md-12">
			13) DISCLAIMER
				<p>To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website. Nothing in this disclaimer will:
					<ol>
						<li>limit or exclude our or your liability for death or personal injury;</li>
						<li>limit or exclude our or your liability for fraud or fraudulent misrepresentation;</li>
						<li>limit any of our or your liabilities in any way that is not permitted under applicable law; or</li>
						<li>exclude any of our or your liabilities that may not be excluded under applicable law.</li>
					</ol>
					<p>The limitations and prohibitions of liability set in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer, including liabilities arising in contract, in tort and for breach of statutory duty.</p>
				</p>
		</div>
	</div>
</div>
<%= render 'layouts/user_footer' %>
