<%= render 'layouts/admin_header' %>
<%= render 'layouts/admin_side_bar' %>
<section id="main-content">
     <section class="wrapper">
        <div class="row">
            <div class="col-lg-12">
                <section class="panel">
                    <header class="panel-heading">
                        City Table
                    </header>
                    <%= link_to 'New', new_city_path, remote: true,class: 'btn btn-success new_city_btn' %>
                    <table class="table table-striped table-advance table-city table-hover" id="dataTables-example">
                        <thead>
                          <tr>
                            <th><i class="icon_profile"></i> City Name</th>
                            <th><i class="icon_cogs"></i> Action</th>
                          </tr>
                        </thead>
                        <tbody>
                            <%= render partial: "city_data", collection: @cities, as: :city %> 
                        </tbody>
                    </table>
                </section>
            </div>
        </div>           
    </section>
</section>
