<section id="container" class="">
    <%= render 'layouts/admin_header' %>
    <%= render 'layouts/admin_side_bar' %>
    <section id="main-content">
        <section class="wrapper">            
			<div class="row">
				<div class="col-lg-12">
					<h3 class="page-header"><i class="fa fa-laptop"></i> Terminal</h3>
				</div>
			</div>
              
	    </section>
	</section>
</section>